body {
	margin: 2em;
	font-family: Arial;
}
h1 {
	color: #00D855;
	font-size: 3em;
}
.peter {
	color: #00A7CA
}
.dana {
	color: #AF04A2
}
.mayor {
	color: #FF5733
}
.ray {
	color: #A6C400
}
.egon {
	color:  #FF78C6  
}
.winston {
	color:  #FFDD00    
}